<section data-ng-controller="<%= entityName %>sController" data-ng-init="find()">
	<ul class="<%= slugName %>s unstyled">
		<li data-ng-repeat="<%= slugName %> in <%= slugName %>s">
			<span>{{<%= slugName %>.created | date:'medium'}}</span> /
			<span>{{<%= slugName %>.user.name}}</span>
			<h2><a data-ng-href="#!/<%= slugName %>s/{{<%= slugName %>._id}}">{{<%= slugName %>.title}}</a></h2>
			<div>{{<%= slugName %>.content}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!<%= slugName %>s || <%= slugName %>s.length">No <%= slugName %>s yet. <br> Why don't you <a href="/#!/<%= slugName %>s/create">Create One</a>?</h1>
</section>